
<html>
  <head>
    <style>
       body {
         background: <%= color %>;
       }
    </style>
  </head>
  <body>
    <p>
  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
  </form>
    <%= message %>
    <%= guesses_remaining %>
    <%= cheat_mode %>
  </p>
  </body>
</html>
